.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
}

.modalContent {
  position: relative;
  padding: 24px;
  background: var(--background);
  box-shadow: 0px 4px 16px rgba(22, 22, 22, 0.05);
  border-radius: 8px;
  border: 1px solid var(--color-no-active-element);
  margin: 30px;
  color: #232323;
}

.spanClose {
  display: flex;
  background: transparent;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.closeSvg {
  stroke: var(--color-icons-no-active);
  width: 18px;
  height: 18px;
}

.titleModal {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: left;
  margin-top: -20px;
  color: var(--text-color);
}

.containerImg {
  width: 68px;
  height: 79px;
  position: absolute;
  z-index: 0;
  display: flex;
  align-items: center;
  left: 40%;
  right: 50%;
  top: 15%;
  bottom: 0%;
  border-radius: 8px;
}

.userIcon {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.avatar {
  width: 68px;
  height: 68px;
  border-radius: 8px;
}

.plusBtn {
  background: #bedbb0;
  position: absolute;
  z-index: 1;
  left: 35%;
  right: 30%;
  top: 79%;
  border: 1px solid #bedbb0;
  border-radius: 5px;
}

.plusSvg {
  stroke: #232323;
}

.formUser {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 14px;
}

.name {
  box-sizing: border-box;
  width: 287px;
  height: 49px;
  border-radius: 8px;
  border: 1px solid #bedbb0;
  outline: none;
  padding-inline: 0;
  padding-block: 0;
  background: transparent;
  padding: 12px 11px;
  color: var(--text-color);
}

.name:hover,
.name:focus {
  opacity: 1;
  border: 1px solid #9dc888;
}

.email {
  box-sizing: border-box;
  width: 287px;
  height: 49px;
  border-radius: 8px;
  border: 1px solid #bedbb0;
  outline: none;
  padding-inline: 0;
  padding-block: 0;
  background: transparent;
  padding: 12px 11px;
  color: var(--text-color);
}

.email:hover,
.email:focus {
  opacity: 1;
  border: 1px solid #9dc888;
}

.password {
  box-sizing: border-box;
  width: 287px;
  height: 49px;
  border-radius: 8px;
  border: 1px solid #bedbb0;
  outline: none;
  padding-inline: 0;
  padding-block: 0;
  background: transparent;
  padding: 12px 11px;
  color: var(--text-color);
}

.password:hover,
.password:focus {
  opacity: 1;
  border: 1px solid #9dc888;
}

.btnSend {
  background: #bedbb0;
  width: 287px;
  height: 49px;
  border-radius: 8px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
}
