/* Загальні стилі */
.container {
  width: 90%;
  /* background-color: #1f1f1f; */
  color: var(--text-color-star-white);
  margin: 0 auto; /* Центрування контейнера горизонтально*/
  text-transform: capitalize;
  padding: 24px !important;
  border-radius: 8px;
  box-sizing: border-box; /* Враховує padding і border у ширині та висоті елементу */
  display: flex;
  flex-direction: column;
  justify-content: start; /* Центрування в контейнері горизонтально */
  /* align-items: center; Центрування в контейнері вертикально */
  /* min-height: 80vh;  */
}

.customFlexContainer {
  /* background-color: green; */
  padding-top: 0px;
  margin-top: 0px;
  border: "solid 1px red";
}
.customTabs .MuiTabs-flexContainer {
  background-color: green; /* Изменение цвета фона контейнера вкладок */
}

.customTabs {
  /* display: flex;
  flex-direction: row; */
  /* gap: 14px; */
  /* padding: 0; */
}
/* через css не застосовується */

/* .customTabs .MuiTab-root {
  color: #ffffff; 
  opacity: 30%;
  text-transform: capitalize;
}
.customTabs .Mui-selected {
  opacity: 100%;
}
.customTabs .MuiTabs-indicator {
  display: none;
} */

/* .button {
  text-transform: capitalize;
  color: var(--btn-color);
} */

@media (min-width: 320px) and (max-width: 374px) {
  .container {
    width: 95%;
  }
}
/* mobile 375px + */
@media screen and (min-width: 375px) {
  .container {
    max-width: 335px;
  }
}
/* tablet 768px + */
@media screen and (min-width: 768px) {
  .container {
    width: 424px;
    padding: 40px;
  }
}

/* desktop 1440px + */
@media screen and (min-width: 1440px) {
  .container {
    width: 424px;
    padding: 40px;
  }
}

/* Точки перелому:
- гумова від 320 - mobile
- mobile: верстка гумова, стає адаптивною з 375px;
- tablet: з 768px;
- desktop: з 1440px */

/* кольори для сторінок WelcomePage та AuthPage*/

/* кольори для сторінок WelcomePage та AuthPage*/
/*       
      --background-start: linear-gradient(180deg, rgba(196, 196, 196, 0) 25%, #BEDBB0 92.19%);
      --text-color-start: #161616;
      --text-color-start-white: #FFFFFF;
      --btn-color: #BEDBB0;
} */
