/* 0-374px */
.container {
  height: 100vh;
  max-width: 335px;
  background-color: var(--background);

  color: var(--text-color-start);
  padding: 24px;
  border-radius: 8px;
}
.tabLabel {
  text-transform: capitalize !important;
}
.button {
  text-transform: capitalize;
}

/* mobile 375px + */
@media screen and (min-width: 375px) {
  .container {
    min-width: 335px;
  }
}
/* tablet 768px + */
@media screen and (min-width: 768px) {
  .container {
    min-width: 424px;
    padding: 40px;
  }
}

/* desktop 1440px + */
@media screen and (min-width: 1440px) {
  .container {
    min-width: 424px;
    padding: 40px;
  }
}

/* Точки перелому:
- гумова від 320 - mobile
- mobile: верстка гумова, стає адаптивною з 375px;
- tablet: з 768px;
- desktop: з 1440px */

/* кольори для сторінок WelcomePage та AuthPage*/
/* --background: linear-gradient(180deg, rgba(196, 196, 196, 0) 25%, #BEDBB0 92.19%);
      --text-color-start: #161616;
      --text-color-star-white: #FFFFFF;
      --btn-color: #BEDBB0; */
