.helpBox {
  width: 212px;
  height: 272px;
  margin: 0 auto;
  padding: 20px;
  background: var(--heed-help);
  color: var(--text-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.helpBox ul {
  list-style-type: none;
  padding: 0;
}

.helpBox a {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
  color: var(--sidebar-text);
}

/* .helpBox li {
  margin-bottom: 15px;
} */

.helpBox p {
  font-size: 14px;
  line-height: 1.5;
  color: var(--sidebar-text);
}

.helpBox p span {
  color: var(--btn-color);
}

.helpBox button {
  padding: 10px 20px;
  color: var(--text-color-btn);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.helpBox button:hover {
  background-color: #0056b3;
}
