.mainDashboard {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0 20px;

  height: 668px;
}

.buttonAddColumn {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  height: 56px;
  padding: 14px 80px;
  background-color: var(--color-column);
  color: var(--text-color);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  margin-left: 0;
}

.columns_list {
  display: flex;
  flex-direction: row;
  /* gap: 20px; */
}
.item {
  margin-right: 20px;
}

.logoIcon {
  width: 28px;
  height: 28px;
  fill: none;
  stroke: rgb(0, 0, 0);
  stroke-width: 2.6;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
}

.iconBackground {
  fill: #ffffff;
}

.logoIconCard {
  fill: none;
  stroke: rgb(0, 0, 0);
  stroke-width: 2.6;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
}

.iconBackgroundCard {
  fill: var(--color-icons-active);
}

\\\\\\\\\\\\\\\\\\ .modal {
  border: var(--background);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 220px;
  background-color: var(--background); /* Темний фон модалки */
  color: var(--background); /* Чорний текст */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.modalTitle {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.modalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalInput {
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modalButton {
  width: 300px;
  height: 50px;
  background-color: var(--btn-color); /* Зелений фон кнопки */
  color: var(--text-color); /* Чорний текст кнопки */
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modalButton:hover {
  background-color: var(
    --btn-color-hover
  ); /* Зелений фон кнопки при наведенні */
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.closeButton svg {
  width: 100%;
  height: 100%;
  fill: #fff; /* Білий колір іконки */
}

/* column modal */
.modal {
  width: 350px;
  height: 221px;
  background-color: var(--modal-backgr);
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .addModalInput {
  background-color: var(--background);
  border: var(--color-no-active-element);
} */
