.header {
  background-color: var(--background-header);
  padding: 20px 18px;
  display: flex;
  justify-content: space-between;
}

.menuBtn {
  background-color: transparent;
  display: block;
  border: none;
}

.menuIcon {
  width: 24px;
  height: 24px;
  stroke: var(--text-input-color-active);;
}

.userWrapper {
  display: flex;
  gap: 14px
}